@charset "UTF-8";

#container {
	background-color: #dfe0e4;

}

#container > div:nth-child(1) > div:nth-child(1) > div {
	text-align: center;
	font-size: 24pt;
	margin-bottom: 5%;
}

#container > div > div:nth-child(1) > div:nth-child(2) > div {
	margin-bottom: 1%;
	font-size: 13pt;
}

/* 검색창 */
#searchBar {
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
	
}

/* 검색버튼 */
#searchIcon {
	border: 1px solid #fff;
	border-radius: 2500rem;
	inline-size: 3rem;
	font-size: 1rem;
	line-height: 1.25rem;
	min-block-size: 3rem;
	padding: 0.25rem 1rem
}

#searchIcon>svg {
	block-size: 1.3rem;
	inline-size: 1.5rem;
	padding: 0
}


/* 댓글목록 시작  */



#review {
	background-color: #fff;
	width: 60%;
	margin:auto;
}




/* 훌륭해요 글짜크기  */



/* 아이디 글짜크기 */
#review > div > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) > div,
#review > div > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(5) > div,
#review > div > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(8) > div{
	font-size:.875rem;
}









.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

input[type="number"] {
    min-width: 50px;
}









