@charset "UTF-8";

#container {
	background-color: #dfe0e4;
	height:1600px;
}



/* 댓글목록 시작  */



#review {
	background-color: #fff;
	width: 60%;
	margin:auto;
}




/* 훌륭해요 글짜크기  */


/* 아이디 글짜크기 */
#review > div > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) > div,
#review > div > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(5) > div,
#review > div > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(8) > div{
	font-size:.875rem;
}

