@charset "UTF-8";

div.my_travel_title{
	font-size: 2rem;
	font-weight: 700;
    line-height: 1.2;
	display: flex;
	margin-bottom: 1rem;
	justify-content: space-between;
	align-items: end;
}

div#show_all{
	font-size: 0.9rem;
    line-height: 1.2;
	font-weight: 400;
	cursor: pointer;
}

div#show_all:hover{
	text-decoration: underline;
}

div.my_travel_list{
	display: flex;
	width: 1200px;
	column-gap: 1rem;
	margin-bottom: 0.2rem;
}

div.my_wish_travel_list{
	display: flex;
	flex-wrap: wrap;
	column-gap: 1rem;
	margin-bottom: 0.2rem;
}

div.my_travel_content{
	margin-bottom: 3rem;
}

div.my_travel_info{
	width: 592px;
	border-radius: 1rem;
	background-color: white;
	font-size: 0.9rem;
	line-height: 1.2rem;
	padding: 1.5rem;
	filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .05));
	display: flex;
	margin-bottom: 1rem;
	padding: 1rem;
}

div.my_wish_travel_info{
	flex: 1 1 30%;
	width: 592px;
	border-radius: 1rem;
	background-color: white;
	font-size: 0.9rem;
	line-height: 1.2rem;
	padding: 1.5rem;
	filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .05));
	display: flex;
	margin-bottom: 1rem;
	padding: 1rem;
}

div.my_travel_info_title{
	width: 100%;
	font-size: 1.5rem;
	font-weight: 500;
    line-height: 1.2;
	display: block;
	margin: 1rem 0 0.5rem 0;
	
}

div.my_travel_img{
	width: 25%;
	height: 100px;
	border-radius: 1rem;
	border: solid 1px rgba(0,0,0,0);
	overflow:hidden !important;
	margin-right: 1rem;
	border: none;
}

div.my_wish_travel_img{
	width: 25%;
	height: 100px;
	border-radius: 1rem;
	border: solid 1px rgba(0,0,0,0);
	overflow:hidden !important;
	margin-right: 1rem;
	border: none;
}

img.image_thumnail {
    width:100% !important;
    height:100px !important;
    object-fit:cover !important;
}

div.my_travel_text{
	width: 72%
}

div.first_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.lodge_name{
	margin: 0.2rem 0;
	font-size: 1.3rem
}

div.lodge_checkin{
	margin-top: 0.6rem;
	font-size: 0.9rem;
	line-height: 1.3rem;
}

div.reservation_no{
	font-size: 0.9rem;
	line-height: 1.3rem;
}

div.lodge_price{
	text-align: right;
	margin-top: 0.6rem;
	font-size: 1.2rem;
	line-height: 1.3rem;
	font-weight: 500;
	color: #191e3b;
}

div.wishlist_content{
	display: flex;
	justify-content: space-between;
}

div.lodge_rating{
	font-size: 0.9rem;
	line-height: 1.3rem;
}

div.lodge_price_date{
	font-size: 0.7rem;
}

div.more_info{
	cursor: pointer;
}

div.more_info:hover{
	background-color: #ecf4fd;
	border-radius: 1rem;
}

div.more_info_content{
	padding: 0.6rem 0;
	background-color: white;
	box-shadow: 1px 1px 10px 4px #f0f0f0; 
	border-radius: 0.5rem;
	position: absolute;
	z-index: 15;
	top: 45px;
	right: 1rem;
	text-align: center;
}

a.go_lodge{
	display: inline-block;
	width: 10rem;
	line-height: 1.6rem;
	color: black;
}

a.go_lodge:hover{
	background-color: #ecf4fd;
	text-decoration: none;
	cursor: pointer;
}

div.no_reservation{
	height: 132px;
	width: 592px;
	padding: 3rem 0;
	background-color: white;
	border-radius: 1rem;
	text-align: center;
}

div.no_wishlist{
	height: 132px;
	width: 592px;
	padding: 3rem 0;
	background-color: white;
	border-radius: 1rem;
	text-align: center;
}

.reviewshow > div {
	color: rgba(0, 58, 255, 0.77);		
}

.reviewshow > div:hover {
	text-decoration: underline;
	cursor: pointer;
}
	
/* 모달 css 시작 */
.reviewWriteModal{ 
	position:absolute;
	width:100%; 
	height:100%;  
	top:0; 
	left:0; 
	display:none;
	z-index: 100;
}
	
body.modal-open {
	overflow: hidden; /* 페이지 스크롤 막기 */
	background: rgba(0, 0, 0, 0.4);
}
	
.reviewWriteModal_header{		
	width: 720px; /* 500px를 16px 기준으로 나눈 값 */
	height: 640px;        /* 300px를 16px 기준으로 나눈 값 */
	background:#fff; 
	border-radius:0.625rem; /* 10px를 16px 기준으로 나눈 값 */	
	text-align:left;
	box-sizing:border-box; 
	padding: 50px 0; /* 74px를 16px 기준으로 나눈 값 */
	line-height:1.4375rem; /* 23px를 16px 기준으로 나눈 값 */
	cursor:pointer;
	position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
	

#mycontent > form > div > div.reviewWriteModal_header > span {
	position: absolute; 
	top: 6px; /* 15px를 16px 기준으로 나눈 값 */
	left: 0.9375rem; /* 15px를 16px 기준으로 나눈 값 */
	color: #0073ff;
	font-size: 30px;
	cursor: pointer;	    	    
}
	
/* 별점 css 시작 */
#mycontent > form > div > div.reviewWriteModal_header > div > div.rating {
	width: 68%;
}
	
.rateCircle fieldset{
	display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
    width: 100%;
    height: 100px;
}
	
.rateCircle input[type=radio]{
	display: none;
}
	
.rateCircle label{
	background-image: url(<%= ctxPath%>/resources/images/ch/circle-regular.png);
	width: 43%;	
	height: 50.5px; 
   	user-select: none;
}
	
#mycontent > form > div > div.reviewWriteModal_header > div > div.rating > fieldset > span > span {
	width: 100%;
	margin: 3% 0 0 5%;		
}
	
.rateCircle input[type=radio]:checked ~ label,
.rateCircle label:hover {
	background-image: url(<%= ctxPath%>/resources/images/ch/circle-solid.png);
}
	
/* 별점 css 끝 */

/* textarea css 시작  */
#mycontent > form > div > div > div > div.rv_subject > input[type=text] {
	height: 2rem; /* 32px → 2rem 변환 */
	font-size: 0.9375rem; /* 15px → 0.9375rem 변환 */
	border: 0;
	border-radius: 0.9375rem; /* 15px → 0.9375rem 변환 */
	outline: none;
	padding-left: 0.625rem; /* 10px → 0.625rem 변환 */
	background-color: rgb(233, 233, 233);
	margin: 2% 0 2% 0;
}
	
#content {
	width: 71%;
	height: 200px;	
	font-size: 0.9375rem; /* 15px → 0.9375rem 변환 */
	border: 0;
	border-radius: 0.9375rem; /* 15px → 0.9375rem 변환 */
	outline: none;
	margin: 2% 0 2% 0;
	padding: 0.625rem; /* 내부 여백을 주어 삐져나가는 현상을 방지합니다. */
	box-sizing: border-box; /* 패딩, 보더 등을 포함한 크기 조절을 위해 box-sizing 설정 */
	resize: none; /* 사용자가 텍스트 영역의 크기를 조절하지 못하게 합니다. */
	background-color: rgb(233, 233, 233);	
}
/* textarea css 끝 */	

/* 작성 버튼 css 시작  */
#btnWrite {
	background-color: #0073ff;
	height: 2.5rem; /* 40px를 16px 기준으로 나눈 값 */
	color: white;
	width: 71%; /* 70px를 16px 기준으로 나눈 값 */
	border: 0px solid #555555;
	border-radius: 1.0625rem; /* 17px를 16px 기준으로 나눈 값 */
	font-size: 0.875rem; /* 14px를 16px 기준으로 나눈 값 */
}
	
#btnWrite:hover {
	background-color:rgba(0, 80, 190, 0.97);
	box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.1), 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.08);
}
/* 작성 버튼 css 끝  */

